.main_screen {
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    width: 1000px;
    height: fit-content;
    padding:  4px 4px;
    margin: 4px;

}


.province {
  position: relative;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  background-color:transparent;
  height: 275px;
  width: 275px;
  margin: 4px 4px;
}

.world_row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.province_name{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.province_name:hover {
  background: rgba(0, 0, 0, 0.20);
}

.province_army{
  position: absolute;
  bottom: 8px;
  height: 24px;
  left: 20px;
  color: lightcyan;
  background: rgba(0, 0, 0, 0.50);
  cursor: grab;
}

.province_army:hover {
  background: rgba(0, 0, 0, 0.70);
}

.province_army:active {
  cursor: grabbing;
}

.province_army#army1 {
  top: 10px;
}
.province_army#army2 {
  top: 40px;
}

.province_army#army3 {
  top: 70px;
}

.province_army#army4 {
  top: 100px;
}

