.main_screen {
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    width: 1000px;
    height: fit-content;
    padding:  4px 4px;
    margin: 4px;

}


.province {
  border-radius: 4px;
  background-color:transparent;
  height: 275px;
  width: 275px;
  margin: 4px 4px;
  z-index: 1000;
}

.province:hover {

  background-color: rgba(0, 0, 0, 0.15)
}

.province_water:hover {

  background-color: rgba(0, 0, 0, 0.15)
}

.world_row {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: inline;
  list-style: none;
  width: auto;
  list-style-type: none;
  text-align:center;
}

.province_name{
  font-weight: bold;
}

.province_army{
  background-color: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.15);
  margin: 8px 32px;
  padding: 4px;
  z-index: 1001;
}

.province_army:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.province_army:active {
  border: 2px solid rgba(0, 0, 0, 0.75);
}