body {
    background: rgb(0, 18, 6);
}

.login_main {
    background: url("login.png") no-repeat;
    background-size: cover;
    background-color: rgb(0, 18, 6);
    justify-content: center;
    margin: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    width:100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login_container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login_container > * {
    margin:2px;
    padding:8px;
}

.register_container {
    display: flex;
    position:absolute;
    top: 0px;
    right: 16px;
}

.register_container > * {
    padding: 8px;
    margin: 16px;
}

.register_menu {
    display: flex-box;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 6px;
    border: 1px solid rgba(0, 255, 0, 0.25);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 8px 0;
}

.register_text {
    padding-left: 5%;
}

.register_menu > * {
    padding: 4 4px;
    margin: 4px;
    width: 90%;
    white-space: nowrap;
    
}
