body {
    background: rgb(0, 18, 6);
}

.menu_main {
    background: url("menu_bkg.png") no-repeat;
    background-size: cover;
    background-color: rgb(0, 18, 6);
    justify-content: center;
    margin: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    width:100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}