.start_container {
    display: flex-box;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 6px;
    border: 1px solid rgba(0, 255, 0, 0.25);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 8px 16px;
}

.start_body_container {
    display: flex;
    height: 100%;
}

.welcome_text {
    text-align: center;
    margin: 8px;
}

.startmenu_button {
    padding: 4px 4px;
    margin: 4px;
    width: 90%;
    white-space: nowrap;
}

.startmenu_button_selected {
    background-color: rgba(90, 255, 90, 0.5);
    border: 2px solid grey;
    border-radius: 5px;
    padding: 4px 4px;
    margin: 4px;
    width: 90%;
    white-space: nowrap;
}

#create_new_game_button {
    margin: 20px 4px 4px 4px;
}

.start_game_container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 16px;
    margin: 4px;
}

.game_list_container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 4px;
    margin: 4px;
}

.select_slot_container {
    display: flex;
}

.join_game_entry {
    position: relative;
    list-style-type: none;
    left: -10%;
}

.join_game_button {
    padding: 3px;
}

.start_text_options {
    margin: 10px 0 4px 0;
}

.game_session_is_full {
    padding: 0;
    margin: 2px;
    font-weight: bold;
    color:firebrick;
}

#start_menu_refresh_button{
    position: absolute;
    padding: 3px 12px;
    width: 80%;
    left:10%;
    bottom: 8px;
}