.army_row {
    display: flex;
    width: 100%;
    border-collapse: collapse; 
}


.army_property {
    flex: 1;
    border: 1px solid  rgba(0,0,0,0.12);
    border-radius: 2px;
    background-color: rgba(0,0,0,0.12);
    padding:  4px 4px;
    margin: 4px;
    width:auto;
    text-align: center;

}

.split_unit_slider {
    flex: 2;
}

.split_slider {
    flex: 2;
    align-self: center;
    margin: 8px;
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .split_slider:hover {
    opacity: 1;
  }
  
  .split_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .split_slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #04AA6D;
    cursor: pointer;
  }

  .army_split_error {
    position: absolute;
    background-color: rgba(225, 225, 225, 0.50);
    border: 2px solid rgba(225, 225, 225, 0.50);
    border-radius: 4px;
    width: 33%;
    height: fit-content;
    bottom: 95px;
    left: 33%;
    padding: 4px;
    text-align: center;
  }
