.upgrade_bought {
    flex: 1;
    opacity: 0.5;
    border-top:    1px solid  rgba(0,0,0, 0.5);
    border-left:   1px solid  rgba(0,0,0, 0.5);
    border-bottom: 2px solid  rgba(0,0,0, 0.4);
    border-right:  2px solid  rgba(0,0,0, 0.4);
    border-radius: 5px;
    background-color: rgba(0,0,0,0.15);
    padding:  4px 4px;
    margin: 4px;
    text-align: center;
    font-size: 12pt;

}

.upgrade_purchase {
    flex: 1;
    opacity: 0.5;
    border-top:    1px solid  rgba(0,0,0, 0.5);
    border-left:   1px solid  rgba(0,0,0, 0.5);
    border-bottom: 2px solid  rgba(0,0,0, 0.4);
    border-right:  2px solid  rgba(0,0,0, 0.4);
    border-radius: 5px;
    background-color: rgba(0,0,0,0.15);
    padding:  4px 4px;
    margin: 4px;
    text-align: center;
    font-size: 12pt;
}

.popup_cannot_purchase {

    position: absolute;
    background-color: antiquewhite;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    width:33%;
    height: 100px;
    bottom: 95px;
    right: 5px;
    padding: 4px;
    text-align: center;
    z-index: 1000;
}

.popup_button {
    padding: 3px 12px;
    margin-bottom: 8px;
}

.property_progress {
    display: flex;
    width:50%;
    margin: 0 25%;
    justify-items: center;
    font-weight: bold;
}
