.main_screen {
    position: relative;
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    width: 1000px;
    height: fit-content;
    padding:  4px 4px;

    width:80%;
    -webkit-transform: translate(10%, 20px);
    transform: translate(10%, 20px);

}



.world_row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mergeConfirmationPopup {

    position: absolute;
    background-color: antiquewhite;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    top: 384px;
    left: 384px;
    padding: 4px;
    text-align: center;
    z-index: 1000;
}

.mergeConfirmationPopup > *{

 margin: 10px;
 padding: 4px;
}