body {
    background-color: rgb(0, 18, 6);
    display: flex;
    justify-content: center;
}

.game_view {
    background: url("terminal.jpg") no-repeat;
    background-size: cover;
    background-color: rgb(0, 18, 6);
    justify-content: center;
    position:fixed;
    top: 50%;
    left: 50%;
    width:100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
        

}