.header {
    flex: 1;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    align-items: center;
    justify-content: center;
    background-color:  #b7c9e2;
    padding:  4px 0.5%;
    width:99%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.header_box {
    flex: 4;
    border: 1px solid  rgba(0,0,0,0.12);
    border-radius: 2px;
    background-color: rgba(0,0,0,0.12);
    padding:  4px 4px;
    margin: 4px;
    text-align: center;
}

.restart_button:hover {
    background-color: rgb(38, 135, 64);
}

.header_button {
    flex-grow: 1;
    border-top:    1px solid  rgba(0,0,0, 0.5);
    border-left:   1px solid  rgba(0,0,0, 0.5);
    border-bottom: 2px solid  rgba(0,0,0, 0.4);
    border-right:  2px solid  rgba(0,0,0, 0.4);
    border-radius: 5px;
    background-color: rgba(0,0,0,0.15);
    padding:  4px 4px;
    margin: 4px;
    text-align: center;
    font-size: 12pt;
    
}

.header_button:hover {
    background-color: rgba(0,0,0,0.075);
}

.header_button:active {
    border-top:    2px solid  rgba(0,0,0, 0.5);
    border-left:   2px solid  rgba(0,0,0, 0.5);
    border-bottom: 1px solid  rgba(0,0,0, 0.4);
    border-right:  1px solid  rgba(0,0,0, 0.4);
    background-color: rgba(0,0,0,0.15);
    
}