.build_building {
  position: absolute;
  background-color: antiquewhite;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 33%;
  height: auto;
  left:33%;
  top: -200px;
  padding: 8px;
  text-align: center;
}

.confirm_button{
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 8px;
    padding: 4px;
    margin-right: 4px;
  }

  .confirm_button:hover {
    background-color: rgba(0, 0, 0, 0.10);
  }

  .cancel_button{
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 8px;
    padding: 4px;
    margin-left: 4px;
  }

  .cancel_button:hover{
    background-color: rgba(0, 0, 0, 0.10);
  }

  .build_error{
    position: absolute;
    background-color: rgba(225, 225, 225, 0.666);
    border: 2px solid rgba(225, 225, 225, 0.666);
    border-radius: 4px;
    width: 33%;
    height: 100px;
    left: 33%;
    top: -120px;
    padding: 4px;
    text-align: center;
  }