.raise_army {
    position: absolute;
    background-color: antiquewhite;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 250px;
    height: 355px;
    right: 4px;
    top: -370px;
    padding: 4px;
    text-align: center;
}

.raise_army_costs {
  padding: 0;
  margin: 0;
}

.raise_army_title {
  padding: 0;
  margin: 14px;
}

.slider {
    margin: 8px;
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #04AA6D;
    cursor: pointer;
  }

  .confirm_button{
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 8px;
    padding: 4px;
    margin-right: 4px;
  }

  .confirm_button:hover {
    background-color: rgba(0, 0, 0, 0.10);
  }

  .cancel_button{
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 8px;
    padding: 4px;
    margin-left: 4px;
  }

  .cancel_button:hover{
    background-color: rgba(0, 0, 0, 0.10);
  }

  .slider_error{
    position: absolute;
    background-color: rgba(225, 225, 225, 0.50);
    border: 2px solid rgba(225, 225, 225, 0.50);
    border-radius: 4px;
    width: 250px;
    height: 100px;
    right: 4px;
    top: -120px;
    padding: 4px;
    text-align: center;
  }

  .army_type_selected {
    background-color: rgba(90, 255, 90, 0.75);
  }

  .army_type {
    margin-bottom:8px;
  }